<h2>Subcategorie2</h2>

<style>
  #subcategory-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .sottocategorie-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
  }

  .sottocategorie-div {
    height: auto;
    text-align: center;
  }

  .sottocategorie-h2 {
    font-size: 12px;
  }
</style>

<div id="subcategory-list">
  {% for subcategory in collection.metafields.custom_subcategories.app_subcategories.value %}

    <div class="sottocategorie-div">
      <a href="{{ subcategory.url }}">
        {{ subcategory | img_url: '150x150' | img_tag: subcategory.title, "sottocategorie-img" }}
      </a>
      <h2 class="sottocategorie-h2">
        <a href="{{ subcategory.url }}">{{ subcategory.title }}</a>
      </h2>
    </div>

  {% endfor %}
</div>

{% if 1 == 2 %}
  {% render "app_snippet" %}
{% endif %}
{% schema %}

  {
    "name": "Subcategories",
    "target": "section",
    "stylesheet": "appTEST.css",
    "javascript": "app.js",
    "enabled_on": {
      "templates": ["collection"]
    },
    "settings": []
  }
{% endschema %}